body {
  background:#383053;
  color: #16122a;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 70px 0;
  padding: 20px 0px;
}


.chatbar {
  background: #282340;
  // border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 25px 50px;
  position: fixed;
  display: flex;
  right: 0;
  height: 40px;
}

.chatbar-message,
.chatbar-username {
  // border: 1px solid black;
  border-style: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;

  &:focus {
    outline: none;
  }
}


.chatbar-message {
  flex: 8;
  padding: 1px 40px;
  margin: 0 0px;
  background-color: #e5e2fd;
  border-radius: 0 10px 10px 0;
}

.chatbar-username {
  border-radius: 0 10px 10px 0;
  flex: 1.5;
  font-weight: 700;
  text-align: center;
  padding: 0 0px;
  margin: 0 10px 0 0;
  border: 1px solid #8a81fc;
  color: #fff;
  background-color:transparent;

}

.fa-user, .fa-keyboard {
  padding: 6px 10px;
  border-radius: 10px 0px 0px 10px;
  font-size: 30px;
  background-color: #8a81fc;
  color: #d0cdff;
}

.fa-keyboard {
  margin-left: 40px;
}

.message {
  display: flex;
  padding: 5px;
}
.message-system-container {
  display: flex;
}

.message-system-flag {
  color: tomato;
  align-self: center;
  margin: 0px 10px;
}

.message.system {
  text-align: left;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5em;
  border-radius: 7px;
  width: 100%;
  margin: 0px 0px 0px 50px;
  padding: 5px 0px;


  p {
    margin: 0 0;
    border-radius: 10px 30px 30px 10px;
    color: #eb674f;
    width: 100%;
  }
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 10px 0px;
}

.message-content {
  padding: 10px 40px 10px 20px;;
  background-color: #e5e2fd;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  box-shadow: 7px 10px 15px -7px rgba(0,0,0,0.05);

}

.message-content-img {
  height: auto;
  max-width: 60vw;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  // border: 1px solid #423f52;
  background-color: #fefaee;
}

.message-content-img-notification {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 120px;
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  background-color: tomato;
}

.message-content-container {
  padding-bottom: 20px;
}


.message-username {
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 15%;
  font-weight: 700;
}

.navbar {
  background: #282340;
  height: 60px;
  left: 0;
  padding: 5px 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  color: inherit;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  float: left;
  font-weight: 600;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;

  .fa-brand {
    margin-right: 15px;
    font-size: 30px;
    text-align: center;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 20px;
  p {
    font-size: 1.2rem;
    color: #fff;
    padding-left: 20px;
  }

  .fa-users {
    padding-right: 15px;
    font-size: 24px;
    color: #d0cdff;
  }
}
