body {
  background:#fef5f5;
  color: #423f52;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 70px 0;
  padding-top: 20px;
}


.chatbar {
  background: tomato;
  // border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 40px;
}

.chatbar-message,
.chatbar-username {
  // border: 1px solid black;
  border-radius: 10px;
  border-style: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;

  &:focus {
    outline: none;
  }
}


.chatbar-message {
  flex: 8;
  padding: 0 40px;
  margin: 0 10px;
}

.chatbar-username {
  flex: 2;
  padding: 0 40px;
  margin: 0 10px;

}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5em;
  width: 15%;
  padding: 0 50px;

  p {
    background-color: tomato;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
  }
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 10px 40px;
}

.message-content {
  padding: 10px 40px 10px 20px;;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  box-shadow: 7px 10px 15px -7px rgba(0,0,0,0.05);

}

.message-content-img {
  height: auto;
  max-width: 60vw;
}

.message-username {
  width: 10%;
  font-weight: 700;
}

.navbar {
  background: tomato;
  height: 60px;
  left: 0;
  padding: 5px 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  color: inherit;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  float: left;
  font-weight: 600;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 20px;
  p {
    font-size: 1.2rem;
    color: #fff;
    padding-left: 20px;
  }

  .fa-icon {
    padding-right: 15px;
    font-size: 24px;
  }
}
